
.layui-nav {
    position: relative;
    padding: 0 20px;
    background-color: #393D49;
    color: #fff;
    border-radius: 2px;
    font-size: 0;
    box-sizing: border-box;
}
.layui-nav .layui-nav-item {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    line-height: 60px;
}
.layui-nav * {
    font-size: 14px;
}
.layui-nav .layui-nav-item a {
    display: block;
    padding: 0 20px;
    color: #fff;
    color: rgba(255,255,255,.7);
    transition: all .3s;
    -webkit-transition: all .3s;
}
.layui-nav .layui-badge, .layui-nav .layui-badge-dot {
    position: absolute;
    top: 50%;
    margin: -8px 6px 0;
}
.layui-badge {
    height: 18px;
    line-height: 18px;
}
.layui-badge, .layui-badge-dot, .layui-badge-rim {
    position: relative;
    display: inline-block;
    padding: 0 6px;
    font-size: 12px;
    text-align: center;
    background-color: #FF5722;
    color: #fff;
    border-radius: 2px;
}
.layui-nav .layui-badge, .layui-nav .layui-badge-dot {
    position: absolute;
    top: 50%;
    margin: -8px 6px 0;
}

.layui-badge-dot {
    width: 8px;
    height: 8px;
    padding: 0;
    border-radius: 50%;

}
.layui-badge, .layui-badge-dot,{
    position: relative;
    display: inline-block;
    padding: 0 6px;
    font-size: 12px;
    text-align: center;
    background-color: #FF5722;
    color: #fff;
    border-radius: 2px;
}
.nav li {
	position: relative;
}
.nav .layui-nav-item.boom::after{
	content: "";
	position: absolute;
	left: 0;
    bottom: 0;
    width: 82px;
    height: 5px;
    background-color: #5FB878;
    transition: all .2s;
    -webkit-transition: all .2s;
    /* padding-left: 20px; */
   margin-left: 15px;
}
.content{
	margin-top: 20px;
}
#container{
	height:100%;
	width: 82%;
	 margin-left: 11%;
}

.content .title{
	margin-left: 11%;
	margin-bottom: -5%;
}
.content .title h3{
	font-size: 20px;
	line-height: 40px;
	font-weight: bold;
    margin-top: 20px;
}
.content .title p{
	font-size: 16px;
}
.ma-down {
	text-align: center;
}
.ma-down a{
	width: 200px;
	  display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #5FB878;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.none{
    display: none;
}
.lodding-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(0,0,0,0.6);
    -khtml-opacity: 0.6;
    opacity: 0.6;
}
.popup-dialog {
    position: fixed;
   width: 310px;
    left: 50%;
    top: 25%;
    margin-left: -155px;
    background: #fff;
    z-index: 999999;
    border: none;
    border-radius: 12px;
    border-color: #ddd;
    text-align: center;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
    font-family: "Microsoft YaHei";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.popup-dialog h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    color: #111;
    margin: 0;
    margin-top: 15px;
    padding: 0px 10px;
}
.popup-dialog .message img{
    
    width: 200px;
    height: 200px;
}
.popup-dialog textarea {
    width: 85%;
    height: 60px;
    border: #B5B5B5 solid 1px;
    border-radius: 5px;
    padding-left: 5px;
    -webkit-appearance: none;
    outline: none;
    margin: 10px 0;
}
.ui-grid-a.group {
    margin-top: 15px;
}
.popup-dialog .ui-grid-a {
    line-height: 45px;
    color: #228BFE;
    font-size: 16px;
    font-weight: bold;
    border-top: #B5B5B5 solid 1px;
}

.popup-dialog .ui-block-a, .popup-dialog .ui-block-b {
    -webkit-tap-highlight-color: :rgba(0,0,0,0.1);
    width:49%;
    float: left;
}
.popup-dialog .ui-block-a {
    border-right: #B5B5B5 solid 1px;
}
.footer{
    position: fixed;
    bottom: 0;
    background-color: #393D49;
    height: 40px;
    line-height: 40px;
    color: rgba(255,255,255,.7);
    text-align: center;
    width: 100%;
}
/* 功能页 */
.layui-nav-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
.layui-nav .layui-nav-more {
    content: '';
    width: 0;
    height: 0;
    border: 6px solid;
    border-color: rgba(255,255,255,.7)  transparent transparent  transparent;
    overflow: hidden;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    position: absolute;
    top: 50%;
    right: 3px;
    margin-top: -3px;
}
.canvas-box{
    position: relative;
}
.canvas-box .fun-box{
    position: absolute;
    color: #fff;
    top: 20px;
    left: 0;
    width: 100%;
}
.search{
    width: 100%;
    display: flex;
    justify-content: start;
}
.search input{
    width: 65%;
    margin-left: 8%;
    border: 1px solid #919191;
    height: 34px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, .1);
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
    color: #fff;
}
.search span{
    width: 20%;
    height: 34px;
    background: #fff;
    color: #000;
    text-align: center;
    line-height: 34px;
}
.five-need{
    margin-top: 20px;
}
.five-need .f-itme {
    width: 88%;
    height: 80px;
    border: 1px solid #fff;
    margin-bottom: 15px;
}
.layui-nav-child {
    position: absolute;
   left: 20px;
    top: 52px;
    min-width: 100%;
    line-height: 36px;
    padding: 5px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
    border: 1px solid #d2d2d2;
    background-color: #fff;
    z-index: 100;
    border-radius: 2px;
    white-space: nowrap;
}
.layui-nav-child dd {
    position: relative;
}
.layui-nav .layui-nav-child a {
    color: #333;
}
.layui-nav .layui-nav-item a {
    display: block;
    padding: 0 20px;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.featured-list {
    display: flex;
    justify-content: space-around;
     flex-wrap: wrap;
     margin-left: -10px;
}
.featured-list__item {
    width: 48%;
    text-align: center;
    line-height: 40px;
}
.featured-list__img {
    width: 45%;
    max-width: 80px;
    min-width: 60px;
    display: block;
    margin: 0 auto;
}
.featured-list__title{
    color: #fff;
}
 .red-bg {
    background: #fc8675;
    height: 30px;
    line-height: 30px;
    margin: 20px 5%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
}
 .red-bg span{
    color: #fff;
 }
  .red-bg i{
    width: 0;
    height: 0;
    border: 6px solid;
    border-color: rgba(255,255,255,.7)  transparent transparent  transparent;
    margin-top: 12px;
  }
.canvas-box{
    width: 100%;
    height: 800px;
}
.canvas-box #canvas{
    height: 100%!important;
}
/*弹窗*/
form {
    position: relative;
    z-index: 2;
}
.fun-pop h1 {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;;
    margin-bottom: 20px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-put;
    transition-timing-function: ease-in-put;
    font-weight: 200;
}

form input {
    border: 1px solid #ccc;
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px;
    font-size: 18px;
    color: #000;
    text-align: center;
    font-weight: 300;
    margin-top: 15px;
}
form .btn {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: #fff;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius:0 0 12px 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}
.person{
    display: flex;
    justify-content: space-between;
    margin:20px 10% ;
}
.person .person-img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;

}
.person .person-img img{
    width: 100%;
    height: 100%;
}
.person .person-name{
    line-height: 50px;
    font-size: 16px;
}
.person .person-name i{
    margin-left: 10px;
    color: #f00;
}
.win-boom-3 img{
    width: 250px;
    height: 250px;

}
.container{
    position:relative;
}
.all {
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 999;
}
.container .content{
    margin-top: 0;
}